{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}
{% block og_description %}{{ article.title }}{% endblock og_description %}
{% block og_url %}{{ SITEURL }}/{{ article.url }}{% endblock og_url %}
{% block og_image %}{% if article.previewimage %}{{ article.previewimage }}{% else %}{{ SITEPREVIEWIMAGE }}{% endif %}{% endblock og_image %}
{% block og_type %}article{% endblock og_type %}

{% block content %}
<article>
<h1>{{ article.title }}</h1>

{{ article.content }}

<p class="info">
{% include 'block_article_info.html' %}
</p>

{% if article.photo_gallery %}
<div class="gallery">
        {% for title, gallery in article.photo_gallery %}
            <h1>{{ title }}</h1>
                {% for name, photo, thumb, exif, caption in gallery %}
                        <a href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
                {% endfor %}
        {% endfor %}
</div>
{% endif %}

{% if DISQUS_SITENAME %}
<aside id="comments">
  {% include 'block_disqus.html' %}
</aside>
{% endif %}
</article>
{% endblock content %}
