{% extends "base.html" %}

{% block title %}Authors - {{ SITENAME }}{% endblock title %}

{% block og_title %}Authors - {{ SITENAME }}{% endblock og_title %}
{% block og_description %}Authors{% endblock og_description %}
{% block og_url %}{{ SITEURL }}/authors.html{% endblock og_url %}

{% block content %}
<h1>Authors</h1>
<ul class="nav nav-pills nav-stacked">
{% for author, article in authors %}
  <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></li>
{% endfor %}
</ul>
{% endblock content %}
