{% extends "base.html" %}

{% block title %}Categories - {{ SITENAME }}{% endblock title %}

{% block og_title %}Categories - {{ SITENAME }}{% endblock og_title %}
{% block og_description %}Categories{% endblock og_description %}
{% block og_url %}{{ SITEURL }}/categories.html{% endblock og_url %}

{% block content %}
<h1>Categories</h1>
<ul class="nav nav-pills nav-stacked">
{% for category, articles in categories %}
  <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
{% endfor %}
</ul>
{% endblock content %}
