{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ SITENAME }}{% endblock title %}

{% block og_title %}{{ page.title }} - {{ SITENAME }}{% endblock og_title %}
{% block og_description %}{{ page.title }}{% endblock og_description %}
{% block og_url %}{{ SITEURL }}/{{ page.url }}{% endblock og_url %}
{% block og_image %}{% if page.previewimage %}{{ page.previewimage }}{% else %}{{ SITEPREVIEWIMAGE }}{% endif %}{% endblock og_image %}

{% block content %}
<h1>{{ page.title }}</h1>

{{ page.content }}

{% if PDF_PROCESSOR %}<p><a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">PDF</a></p>{% endif %}
{% endblock content %}
